.skills {
  background-color: #f6e4d1;
  padding-top: 100px;
  padding-bottom: 100px;
  padding-left: 150px;
  padding-right: 150px;
  position: relative;
}

.skill-title {
  font-size: 55px;
  font-weight: 700;
  color: #ff8a00;
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

/* .logo-with-name {
  display: grid;
  grid-template-columns: repeat(4, 1fr);
  gap: 50px;
} */

.logo-with-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 50%;
  gap: 50px;
}

.skills .img-div {
  height: 100px;
  width: 100px;
}

.skills .img-div img {
  width: 100px;
  height: 80px;
  object-fit: scale-down;
}

.skills .logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
}
