@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  /* font-family: 'Nunito', sans-serif; */
  font-family: 'Montserrat', sans-serif;
}

html {
  scroll-behavior: smooth;
}

.headpluscanvas {
  background-image: radial-gradient(#ff8a00, #e52e71);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: default;
}

.title {
  font-family: 'Protest Revolution', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 4rem;
  text-transform: none;
  overflow-y: hidden;

  background: conic-gradient(from 135deg at top, #fff 90deg, #ffea00 0),
    conic-gradient(from -45deg at bottom, #fff 90deg, #ffea00 0),
    conic-gradient(from 135deg at top, #ffea00 90deg, #0000 0),
    conic-gradient(from -45deg at bottom, #ffea00 90deg, #0000 0);
  -webkit-background-clip: text, text, padding-box, padding-box;
  background-clip: text, text, padding-box, padding-box;
  background-size: 230% 50%;
  background-position: top right, bottom right;
  background-repeat: no-repeat;
  transition: 1s linear;
}

.title:hover {
  background-position: top left, bottom left;
}

.iama {
  font-family: 'Work Sans', sans-serif;
  font-style: normal;
  font-weight: 450;
  color: white;
  font-size: 2.5rem;
  text-transform: none;
}

.auto-type {
  color: #ffea00;
}

.text {
  line-height: 4rem;
}
