.hero-section {
  overflow: hidden;
  background-image: radial-gradient(#ff8a00, #e52e71);
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  /* background-image: radial-gradient(#ff8a00, #e52e71); */
  overflow: hidden;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: default;
}

.main {
  width: 100%;
  height: 100vh;
}

.title {
  font-family: 'Protest Revolution', sans-serif;
  font-style: normal;
  font-weight: 400;
  color: white;
  font-size: 70px;
  text-transform: none;

  text-shadow: -1px -1px 0 #59ff00, 1px -1px 0 #59ff00, -1px 1px 0 #59ff00,
    1px 1px 0 #59ff00;

  background: conic-gradient(from 135deg at top, #fff 90deg, #59ff00 0),
    conic-gradient(from -45deg at bottom, #fff 90deg, #59ff00 0),
    conic-gradient(from 135deg at top, #59ff00 90deg, #0000 0),
    conic-gradient(from -45deg at bottom, #59ff00 90deg, #0000 0);
  -webkit-background-clip: text, text, padding-box, padding-box;
  background-clip: text, text, padding-box, padding-box;
  background-size: 230% 50%;
  background-position: top right, bottom right;
  background-repeat: no-repeat;
  transition: 1s linear;
}

.title:hover {
  background-position: top left, bottom left;
}

.iama {
  font-style: normal;
  font-weight: 450;
  color: white;
  font-size: 40px;
  text-transform: none;
}

.details a {
  border: 2px solid #59ff00;
  color: #59ff00;
  background-color: transparent;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
}

.details a:hover {
  background-color: #59ff00;
  color: #fff;
}

.auto-type {
  color: #59ff00;
  font-weight: 800;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.text {
  line-height: 50px;
}

@media (width<600px) {
  .hero-section {
    overflow: hidden;
    width: 100%;
    padding-inline: 0px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    background-image: radial-gradient(#ff8a00, #e52e71);
    overflow: hidden;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: default;
  }

  .title {
    font-family: 'Protest Revolution', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: white;
    font-size: 50px;
    text-transform: none;
  }

  .iama {
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 25px;
    text-transform: none;
  }

  .auto-type {
    color: #59ff00;
    font-weight: 600;
  }

  .text {
    line-height: 50px;
  }
}
