.hero-section {
  overflow: hidden;
  background-size: cover;
}

.container {
  display: flex;
  justify-content: center;
  align-items: center;
  position: relative;
  width: 100%;
  overflow: hidden;
}

.details {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: absolute;
  cursor: default;
}

.main {
  width: 100%;
  height: 100vh;
}

.title {
  font-family: Arial, Helvetica, sans-serif;
  font-style: italic;
  font-weight: 200;
  color: white;
  font-size: 150px;
  text-transform: none;
}

.iama {
  font-style: normal;
  font-family: 'Cinzel', sans-serif;
  font-weight: 450;
  color: white;
  font-size: 40px;
  text-transform: none;
}

.details a {
  border: 2px solid #59ff00;
  color: white;
  background-color: transparent;
  padding: 10px 20px;
  margin: 10px;
  text-align: center;
  text-decoration: none;
  font-size: 16px;
  cursor: pointer;
  transition: background-color 0.3s, color 0.3s;
  border-radius: 10px;
}

.details a:hover {
  background-color: #59ff00;
  color: var(--black-dark);
}

.auto-type {
  color: #59ff00;
  font-family: 'Cinzel', sans-serif;
  font-style: normal;
  font-weight: 800;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.text {
  line-height: 100px;
}

@media (width<600px) {
  .hero-section {
    overflow: hidden;
    width: 100%;
    padding-inline: 0px;
  }

  .container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    width: 100%;
    overflow: hidden;
  }

  .details {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    position: absolute;
    cursor: default;
  }

  .title {
    font-family: 'Cinzel', sans-serif;
    font-style: normal;
    font-weight: 600;
    color: white;
    font-size: 30px;
    text-transform: none;
  }

  .iama {
    font-style: normal;
    font-weight: 400;
    color: white;
    font-size: 25px;
    text-transform: none;
  }

  .auto-type {
    color: #59ff00;
    font-weight: 600;
  }

  .text {
    line-height: 50px;
  }
}
