@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Protest+Revolution&family=Work+Sans:ital,wght@0,100..900;1,100..900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@100;200;300;400;500;600;700;800;900&family=Nunito:wght@200;300;400;500;600;700;800;900;1000&display=swap');

* {
  margin: 0;
  padding: 0;
  text-decoration: none;
  list-style: none;
  box-sizing: border-box;
  /* overflow-x: hidden; */
  font-family: 'Montserrat', sans-serif;
}
body {
  background-color: #f6e4d1;
}

html {
  scroll-behavior: smooth;
}

/* @import 'style';
@import 'nav';
@import 'canvas';
@import 'about';
@import 'skills';
@import 'projects';
@import 'contact'; */
