.nav {
  height: 80px;
  width: 100%;
  font-style: normal;
  position: absolute;
  z-index: 1;
}

.nav .nav-header {
  display: inline;
  position: absolute;
  padding-top: 4px;
  padding-left: 4px;
}

nav .logo img {
  filter: drop-shadow(1px 4px 1px #302213);
  margin-left:20px;
}

.nav .nav-btn {
  display: none;
}

.nav .nav-links {
  display: inline;
  float: right;
}

.nav .nav-links a {
  display: inline-block;
  padding: 13px 10px 13px 10px;
  color: black;
  margin-top:10px;
  font-weight: 600;
  width:200px;
  text-transform: uppercase;
  font-size: 25px;
}

.nav .nav-links a:hover {
  color: #ff8a00;
  font-weight: 800;
  background: transparent;
  text-shadow: -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000,
    1px 1px 0 #000;
}

.nav #nav-check {
  display: none;
}

.sticky {
  position: fixed;
  z-index: 1;
  background-color: #f6e4d1;
}

@media (max-width: 790px) {
  .nav .nav-header .logo img {
    height: 80%;
    width: 80%;
    margin: 4px 2px;
  }
  .nav .nav-btn {
    display: inline-block;
    position: absolute;
    background-color: #ff8a00;
    right: 0px;
    margin: 18px 2px;
  }
  .nav .nav-btn label {
    display: inline-block;
    width: 40px;
    height: 40px;
    padding: 10px;
  }
  .nav .nav-btn label:hover,
  .nav #nav-check:checked ~ .nav-btn label {
    background-color: #ff8a00;
  }
  .nav .nav-btn label span {
    display: block;
    width: 100%;
    height: 10px;
    border-top: 2px solid #f6e4d1;
  }
  .nav .nav-links {
    position: absolute;
    display: block;
    width: 100%;
    height: 100vh;
    top: 80px;
    left: 0px;
    opacity: 0;
    z-index: 1;
    background-color: rgba(210, 186, 161, 0.5);
    -webkit-backdrop-filter: blur(8px);
    backdrop-filter: blur(8px);
  }
  .nav .nav-links a {
    display: block;
    width: 100%;
    text-align: center;
  }
  .nav #nav-check:not(:checked) ~ .nav-links {
    height: 0px;
  }
  .nav > #nav-check:checked ~ .nav-links {
    height: calc(100vh - 50px);
    opacity: 1;
  }
}
