.projects {
  padding-inline: 100px;
  padding-block: 100px;
}

.projects-title {
  font-size: 55px;
  font-weight: 700;
  color: #ff8a00;
  text-align: center;
  margin-bottom: 50px;
}

.projects .projects-img-div {
  width: 450px;
  height: 270px;
  display:flex;
  position: relative;
}
.projects-img-div:hover {
  transform: scale(1.05);
}
.hidden-project-name a:hover {
  color: #ff8a00;
}
.projects .projects-img-div img {
  width: 450px;
  height: 270px;
  object-fit: scale-down;
  filter: drop-shadow(10px 10px 4px rgb(210, 186, 161));
}

.projects .projects-name {
  display: flex;
  justify-content: center;
  align-items: center;
}

.hidden-project-name {
  background-color: #ff8a00;
  text-align: center;
  align-items: center;
}

.hidden-project-name {
  height: 83%;
  width: 100%;
  justify-content: center;
  align-items: center;
  text-align: center;
  position: absolute;
  display: flex;
  flex-direction: column;
  font-weight: 800;
  color: #ff8a00;
  text-shadow: -0.4px -0.4px 0 #000, 0.4px -0.4px 0 #000, -0.4px 0.4px 0 #000,
    0.4px 0.4px 0 #000;
  top: 9%;
  left: 0;
  opacity: 0;
  background: rgba(210, 186, 161, 0.8);
  transition: 0.6;
}
.hidden-project-name:hover {
  opacity: 1;
}

.picture-with-name {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  column-gap: 20px;
  row-gap: 20px;
}

@media (width <= 500px) {
  .projects {
    padding-inline: 0px;
    padding-block: 0px;
  }
  .projects-title {
    font-size: 30px;
    font-weight: 500;
    color: #ff8a00;
    text-align: center;
    margin-bottom: 0px;
    margin-top:40px;
  }
  .picture-with-name {
    column-gap: 0px;
    row-gap: 0px;
  }
  .projects .projects-img-div {
    height: 270px;
    width: 350px;
    position: relative;
  }
  .projects .projects-img-div img {
    height: 270px;
    width: 350px;
    object-fit: scale-down;
    filter: drop-shadow(10px 10px 4px rgb(210, 186, 161));
  }
}

@media (500px < width <= 790px) {
  .projects {
    padding-inline: 50px;
    padding-block: 50px;
  }
  .projects-title {
    font-size: 30px;
    font-weight: 500;
    color: #ff8a00;
    text-align: center;
    margin-bottom: 50px;
  }
}
