.skills {
  padding-block: 100px;
  padding-inline: 100px;
  position: relative;
}

.skill-title {
  font-size: 55px;
  font-weight: 500;
  color: var(--yellow-dark);
}

.skills-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 50px;
  padding-block: 40px;
  background-color: var(--black-light);
  background-image: url('https://www.marcoguglie.it/Codepen/AnimatedHeaderBg/demo-1/img/demo-1-bg.jpg');
}

.logo-with-name {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  width: 40%;
  gap: 50px;
}

.skills .img-div {
  height: max;
  width: 100px;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex-div {
  color: var(--green-dark);
}
.flex-div h1 {
  font-size: 25px;
  font-weight: 200;
}
.skills .img-div img {
  width: 100%;
  height: 80px;
  object-fit: scale-down;
  padding: 10px;
  filter: grayscale(100%);
}

.skills .img-div img:hover {
  filter: grayscale(0%);
}

.skills .logo-name {
  display: flex;
  justify-content: center;
  align-items: center;
  color: white;
  font-size: 14px;
}

@media (max-width: 790px) {
  .skills {
    padding-block: 50px;
    padding-inline: 10px;
    position: relative;
  }

  .skill-title {
    font-size: 30px;
    font-weight: 500;
    color: var(--yellow-dark);
  }

  .skills-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 50px;
  }
  .flex-div h1 {
    font-size: 25px;
  }

  .logo-with-name {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    width: 80%;
    gap: 50px;
    color: var(--black-dark);
  }
  .skills .img-div {
    height: 80px;
    width: 80px;
  }
}

@media (width<=500px) {
  .skill-title {
    margin-bottom: -20px;
    margin-top: -15px;
  }
  .flex-div h1 {
    font-size: 20px;
  }
  .flex-div {
    margin-bottom: -40px;
    margin-top: 30px;
  }
  .skills {
    padding-block: 50px;
    padding-inline: 10px;
    position: relative;
  }
  .skills-container {
    gap: 15px;
  }
  .logo-with-name {
    width: 100%;
    padding-block: 40px;
    color: var(--black-dark);
  }
  .skills .img-div {
    gap: 5px;
    height: max;
    width: max;
    border-radius: 10px;
  }
  .skills .img-div img {
    width: 100%;
    height: 70%;
    object-fit: scale-down;
    padding: 2px;
  }
}
